/*
Alumno: Edgar David Chang Carnero
Curso: HTML & CSS
*/


body{
    text-align: center;    
}
section{
    text-align: left; 
    border: 2px solid grey; 
    width: 460px;
    height: 490px;
    display: inline-block;
    padding: 25px 20px 0px 20px ;
}
h1  {
    color: hotpink;
    border-bottom: 10px dotted purple;    
}
h2.cursiva {
    font-style: italic;
}
ul{
    background-color:  #eeeeee;
    border: 5px solid purple;
    padding: 30px;
}
a:hover{
color: green;
}
    

